/*NAVBAR*/
#navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    position: sticky;
}

.logotipo {
    height: 50px;
    text-align: start !important;
}

.nav-item {
    font-size: 25px;
    margin: auto;
    font-family: 'Share Tech', sans-serif;
    font-weight: bold;
    text-decoration: transparent;
    color: white;
    border-bottom: 2px solid white;
    border-radius: 5px;
}

.nav-item:hover{
    transition: 0.3s;
    color: whitesmoke;
    text-shadow: 0px 0px 10px darkgreen;
    border-bottom: 1px solid darkgreen;
}

/*APRESENTAÇÃO*/
#apresentacao {
    display: flex;
    flex-flow: column wrap;
    margin-top: 5em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;

}

#tit-apres{
    color: white;
}

.titulos{
    font-size: 4em;
    border-bottom: 2px solid goldenrod;
}

.sub-titulos{
    font-size: 2.5em;
    text-align: justify;
}

.textos{
    font-size: 1em;
    margin: 25px auto;
    border: 2px solid red;
}

.titulos, .sub-titulos, .textos{
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
}

#video-apres{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    #video-apres{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #video-apres {
        width: auto;
        height: 100%;
    }
}


/*ATENDIMENTO*/
#atendimento{

}


#tit-atendimento{
    color: black;
}