/* SOLUÇÕES DIGITAIS*/
#solucoes-talkd{
    background-image: url(https://cdn.pixabay.com/photo/2019/04/30/12/34/skyscrapers-4168483_1280.jpg);
}

#txt-sol-talkd{
    text-align: justify;
    margin: 10px auto;
}

.sub-titulo{
    font-size: 35px;
    width: 100%;
    text-shadow: 0px 5px 5px purple;
}

#grid-solucoes{
    
    margin: 0 auto;
    padding: 20px;
    display: grid;
    place-items: center;
    align-items: center;
}

#grid-isps, #grid-provedores, #grid-ativ-servicos{
    background-color: brown;
    border-radius: 20px;
}

.espacamento-grid-solucoes{
    margin: 50px auto;
}

.item-lista-grid{
    margin-top: 20px;
    list-style-type: none;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    padding: 10px;
    color: white;
    background-color: black;
    border: 2px solid red;
    border-radius: 10px;
}