/* SOLUÇÕES DIGITAIS*/
#solucoes-talkd{
    background-image: url(https://cdn.pixabay.com/photo/2017/07/10/23/45/cubes-2492010_1280.jpg);
}

#txt-sol-talkd{
    text-align: justify;
}

.sub-titulo{
    font-size: 35px !important;
    width: 100%;
    text-shadow: 0px 5px 5px purple;
    padding: 25px;
}

#grid-solucoes{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    place-items: center;
    align-items: center;
}

.alinhamento-grid-solucoes{
    background-color: purple;
    margin: 0 auto;
}

.div-grid-solucoes{
    
    padding: 20px;
}

#grid-isps, #grid-provedores, #grid-ativ-servicos{
    background-color:rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 20px black;
    border-radius: 20px;
    margin: 50px auto;
}

.espacamento-grid-solucoes{
    margin: 50px auto;
}

.titulo-item-grid-solucoes{
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    text-align: left;
    padding: 10px;
    color: white;
    background: linear-gradient(to top, black, seagreen);
    border-top: 2px solid seagreen;
    border-right: 2px solid seagreen;
    border-left: 2px solid seagreen;
    box-shadow: 0 0 10px seagreen;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.txt-lista-grid{
    color: black !important;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 0 0 5px white;
    padding: 10px;
    background-color: darkgrey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*BPO*/
#bpo{
    background-image: url(https://cdn.pixabay.com/photo/2021/10/11/17/54/technology-6701504_1280.jpg);
}

#bpo-metodologia{
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0 auto;
}

.grid-div-bpo{
    margin: 10px auto;

}

.div-bpo-item, .div-beneficios{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rebeccapurple, rgba(0, 0, 0, 0.6));
    box-shadow: 0px 0px 15px black;
    border: 1px solid black;
    border-radius: 20px;
    margin: 10px 20px auto;
    width: 50%;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.div-beneficios{
    margin: 0 auto;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.95) !important;
}

.titulo-bpo-item{
    color: white;
    font-weight: bold;
    text-align: center;
}

.lista-bpo-item{
    list-style-type: unset;
}

.item-bpo-lista{
    color: white;
    padding: 10px;
}


